body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 45px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    line-height: 45px;
    background-color: #47A3FF;
    color: #FCFCFC;
    font-size: 14px;
}

.navbar-item {
    padding: 5 15 5 15;
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.feed-container {
    position: relative;
}

.container {
    margin: 0 auto;
    width: 500px;
}

.container-span {
    height: 100%;
}

#spacer {
    height: 50px;
}

.input-container {
    text-align: center;
}

#userInput {
    height: inherit;
    float: right;
}

#welcomeMsg {
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    font-size: 48px;

}

.button-link {
    background-color: #F2F2F2;
    color: black;
    border-radius: 5%;
    margin: 5px;
    padding: 2 7;
}

input {
    width: 372px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5%;
}

.input-container {
    position: relative;
    top: 20%;
}

.inputField {
    padding: 10px;
}

#login-msg {
    font-size: 24px;
    padding: 10px;
}

#largeButton {
    width: 372px;
    padding: 10px;
    font-size: 18px;
    background-color: #F2F2F2;
    border-radius: 5%;
    margin: 0 auto;
}

/* .inputField {
    width: 150px;
    height: 90px;
}*/








